.layout-container{
    overflow: hidden;
    
    .layout-nav-bar{
        background-color: #2e2e2e;
        height: 5em;
        top: 0px;
        left: 0px;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
    }

    .layout-nav-button{
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 18px;
        border-radius: 0.4em;
        outline: none;
        margin: auto;
        width: 7em;
        height: 2.5em;
        background-color: #383838;
        box-shadow: black;
        color: white;
    }

    .dropdown-container{
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        display: flex;
        flex-direction: column;
        margin: auto;   
    }

    .dropdown-description{
        color: white;
        font-size: 18px;
        padding: 4px;
        text-align: center;
    }
    
    .selector-dropdown{
        font-size: 18px;
        border-radius: 0.2em;
        margin: auto;
        width: auto;
        height: auto;
        background-color: #A1A1A1;
    }

    .slider-description{
        color: white;
        font-size: 18px;
        padding: 4px;
        text-align: center;
    }

    .slider-container{
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        display: flex;
        flex-direction: column;
        margin: auto; 
        width: 18%;
        align-items: center;
    }
    .animation-speed-slider{
        -webkit-appearance: none;
        width: 200px;
        height: 20px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        border-radius: 0.2em;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .animation-speed-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #610161;
        border-radius: 0.2em;
        cursor: pointer;
      }
}